/* Home.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7fafc;
  }
  /* hi i am shock shankar - Css developer Sudar*/

  
  button {
    padding: 10px 20px;
    margin: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button.student {
    background-color: #4299e1;
  }
  
  button.student:hover {
    background-color: #2b6cb0;
  }
  
  button.admin {
    background-color: #48bb78;
  }
  
  button.admin:hover {
    background-color: #2f855a;
  }
  