@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


/* Container for the entire navigation bar */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  /* Logo container */
  .nav-logo {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .brand {
    font-size: 28px;
    font-weight: bold;
    color: #333;
  }
  
  .brand .D {
    color: #007bff;
  }
  
  /* Menu container */
  .menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin: 0 20px;
    position: relative;
  }
  
  .menu li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
  }
  
  .menu li:hover a {
    color: #007bff;
  }
  
  /* Underline for active menu item */
  .menu li hr {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    border: 2px solid #007bff;
    margin: 0;
  }
  
  /* User greeting text */
  .nav-user-greeting {
    font-size: 18px;
    color: #333;
    margin-right: 20px;
  }
  
  /* Login button and cart icon container */
  .nav-login {
    display: flex;
    align-items: center;
  }
  
  .login {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login:hover {
    background-color: #0056b3;
  }
  
  .cart {
    width: 30px;
    height: 30px;
    margin-left: 20px;
    position: relative;
  }
  
  .nav-cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #ff0000;
    color: #fff;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 14px;
  }
  
  @media (max-width: 768px) {
    .menu {
      display: none;
    }
  
    .search-container {
      margin: 10px 0;
    }
  
    .nav {
      flex-direction: column;
      padding: 10px;
    }
  
    .nav-login {
      margin-top: 10px;
    }
  }
  